.CtrlBar {
  background: rgba(255,255,255,0.7);
  box-shadow: -2px -2px 3px 0 rgba(0,0,0,0.22);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  z-index: 980;
}

.CtrlBar-wrapper {
  width: 980px;
  height: 30px;
  font: 12px/150% Arial, helvetica, clean, "新細明體", "PMingLiU", sans-serif;
  color: hsl(0, 0%, 20%);
  margin: auto;
}

.CtrlBar-menu {
  margin-top: 5px;
  text-align: center;
}

.CtrlBar-btn {
  display: inline-block;
  padding: 10px;
  margin: 0 5px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  text-decoration: none;
  background: hsl(208, 56%, 53%);
  box-shadow: 2px 4px 2px 0 rgba(0,0,0,0.22);
  font-family: "Helvetica Neue", Helvetica, Arial, "Heiti TC", "Apple LiGothic Medium", "微軟正黑體", sans-serif;
}

.CtrlBar-btn:hover {
  box-shadow: 2px 4px 2px 0 rgba(0,0,0,0.4);
}
